.btn1{
    position: relative;     
    background-color: rgb(216, 214, 214);
    border: 1px solid #000000;
    border-radius: 4px;
    color: black;
    font-size: 20px;
    text-decoration: none;
    padding: 8px 10px;
   
     width: 50px;
     padding-left: 6px;
     top: 29px;
     right: 215px;
     cursor: pointer;
     box-shadow: 3px 3px 2px .5px rgb(65, 65, 65);   

}

    
.btn1:hover{
    box-shadow: 3px 3px 2px .5px rgb(19, 18, 18);   
}

.contador{
    position: relative;
    bottom: 12px;
    right: 180px;
    
}

.btn2{
    position: relative;     
    background-color: rgb(216, 214, 214);
    border: 1px solid #000000;
    border-radius: 4px;
    color: black;
    font-size: 20px;
    text-decoration: none;
    padding: 8px 10px;
    
    width: 50px;
    padding-left: 6px;
    bottom:12.5px;
    right: 280px;
    cursor: pointer;
    box-shadow: 3px 3px 2px .5px rgb(65, 65, 65);   
        

}

.btn2:hover{
    box-shadow: 3px 3px 2px .5px rgb(19, 18, 18);   
}