

.container{
    position: relative;
    background-color: white;
    text-align: center;
    justify-content: center;
    width: 450px;
    height: 180px;
    left: 223px;
    border-radius: 25px;
    border: 1px solid rgb(148, 146, 146);
    font-size: 18px;
    box-shadow: 2px 2px 2px 2px  black;
    margin: 20px;
    display: inline-block;
}

.container ul{
    position: relative;
    list-style-type: none;
    top: 25px;
    right: 125px;

}

.container hr{
    position: relative;
    top:50px;
}

.container img {
    position: absolute;
    width: 90px;
    bottom: -6px;
    left: 405px;
    
}

.container:hover{
    box-shadow: 2px 2px 2px 2px  rgb(107, 107, 107);
}

.button{
    position: relative;
    top: 65px;
    border: 1px solid #000000;
    border-radius: 8px;
    color: white;
    background-color: orange;
    text-decoration: none;
    padding: 8px 10px;
    width: 200px;
    cursor: pointer;
    box-shadow: 3px 3px 2px .5px rgb(65, 65, 65);  
}

.button:hover{
    box-shadow: 3px 3px 2px .5px rgb(19, 18, 18);   
}


@media screen and (max-width:768){
    .button{
        color: black;
    }
}



