.header_cart label{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 0px 9vw  0 9vw ;
}


.buttons_container{
   
}

.button_to_add{ 
    position: relative;
    bottom: 23px;
    width: 30px;
    height: 25px;
    right: 10px;
    box-shadow: 1px 1px 1px .8px  black;
    
}


.button_to_less {
    position: relative;
    bottom: 23px;
    width: 30px;
    height: 25px;
    right: 10px;
    box-shadow: 1px 1px 1px .8px  black;
    
}

.button_to_add:hover{
    color: orange;
}



.button_to_less:hover{
    color: orange;
}

.product{
    
    color: white;
  
    font-size: 18px;
}

.price{
     position: relative; 
    color: white;
    text-align: center;
    bottom: 23px;
    left: 23px;
    font-size: 18px;
}

.total_pay{
     position: relative; 
   text-align: center;
   left: 90px;
   bottom: 23px;
   color: white;
   font-size: 18px;
 
}

.clean_cart{
    position: relative; 
    right: 11px;
    bottom: 128px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.clean_cart:hover{
    color: black;
}

.product_quantity{
    position: relative;
    background-color: rgb(239, 239, 239);
    padding: 0.2rem 0.3rem 0 0.3rem;
    right: 12px;
    bottom: 23px;
    margin-left: 10px;
    border: solid 1px black;

}


.cart_row_container{
    display: flex;
    position: relative;
}

/* Product  Fields */
.quantity_container{
    display: flex;
    width: 20%;
    justify-content: flex-end;
}

.product_container{
    position: relative;
    width: 20%;
    color:white;
    text-align: center;
    right: 1%;
    bottom: 24px;
}
.price_container{
    display: flex;
    width:20%;
    justify-content: flex-end;
    
}

.total_pay_container {
    display: flex;
    width: 20%;
    justify-content: flex-end;
}


.delete_container {
    display: flex;
    width:fit-content;
    justify-content: flex-end;
}
.delete_item{
    font-size: 25px;
    color: white;
    cursor: pointer; 
    position:absolute;
    right:0;
}

.delete_item:hover{
    color: black;
}

.cart_rows_wrapper {
margin-top: 1rem;
border-top: solid white 1px;
border-bottom: solid white 1px;
padding:2rem;
}

.clean_all_text{
    color:white;
    text-align: center;
    margin-top: 5px;
    border-top: solid 1px white;
}

.clean_all_cart_container{
    display: flex;
    justify-content: end;
}
